<h1 class="delivery">Delivery App</h1>
    
    
      
    
<div ng-controller="MainCtrl" class="delivery">
     <!-- Start Prog UI -->
<p>
    <img src="images/z.png" alt="zebyoulawn"><br>
  </p>
  
 <p>Your Order was placed at<h5>{{ orderStatus.order_placed | date:'MM/dd/yyy @ h:mma' }}</h5></p>
<div class="checkoutWrap">
  <ul class="checkoutBar">

    <li ng-class="{ visited : orderStatus.order_placed}">Order Placed</li>
    
    <li ng-class="{ active : orderStatus.restaurant_notified}">Notified</li>

    <li ng-class="{ active : orderStatus.driver_at_restaurant}">Driver Sent</li>

    <li ng-class="{ active : orderStatus.food_picked_up}">Food Picked Up</li>

    <li ng-class="{ visited : orderStatus.delivered_to_customer}">Delivery</li>

  </ul>
</div>



<br>
<br>
<br>
<br>
<br>


  <p>Your Order is being brought by<h5>{{ orderStatus.driver_name }}</h5></p>
  

  <h3>Estimated time to delivery</h3>
  <h1>12 minutes</h1>
  
</div>  

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- End Prog UI -->