<div class="jumbotron">
  <h1>Progress</h1>
  <h3>Progress UI</h3>
  <p class="lead">
    <img src="images/z.png" alt="zebyoulawn"><br>
  </p>

     <!-- Start Prog UI -->


<h1>Order Progress Bar</h1>
  

<div class="checkoutWrap">
  <ul class="checkoutBar">

    <li class="visited first">
      <a href="#">Login</a>
    </li>

    <li class="previous visited">Order Placed</li>

    <li class="active">Order Received</li>

    <li class="next">Review & Payment</li>

    <li class="">Complete</li>

  </ul>
</div>
    <!-- End Prog UI -->


</div>

<hr>
<h1>Progress</h1>
<hr>

 



